<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Spot_Warn</display-name>
  <welcome-file-list>
    <welcome-file>Welcome.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>u_Login</display-name>
    <servlet-name>u_Login</servlet-name>
    <servlet-class>com.spotwarn.code.u_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>u_Login</servlet-name>
    <url-pattern>/u_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>a_login</display-name>
    <servlet-name>a_login</servlet-name>
    <servlet-class>com.spotwarn.code.a_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a_login</servlet-name>
    <url-pattern>/a_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>a_register</display-name>
    <servlet-name>a_register</servlet-name>
    <servlet-class>com.spotwarn.code.a_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a_register</servlet-name>
    <url-pattern>/a_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>s_register</display-name>
    <servlet-name>s_register</servlet-name>
    <servlet-class>com.spotwarn.code.s_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s_register</servlet-name>
    <url-pattern>/s_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>a_Login</display-name>
    <servlet-name>a_Login</servlet-name>
    <servlet-class>com.spotwarn.admin.a_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a_Login</servlet-name>
    <url-pattern>/a_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>a_Register</display-name>
    <servlet-name>a_Register</servlet-name>
    <servlet-class>com.spotwarn.admin.a_Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a_Register</servlet-name>
    <url-pattern>/a_Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>s_Register</display-name>
    <servlet-name>s_Register</servlet-name>
    <servlet-class>com.spotwarn.admin.s_Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s_Register</servlet-name>
    <url-pattern>/s_Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>u_Register1</display-name>
    <servlet-name>u_Register1</servlet-name>
    <servlet-class>com.spotwarn.user.u_Register1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>u_Register1</servlet-name>
    <url-pattern>/u_Register1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>u_Login1</display-name>
    <servlet-name>u_Login1</servlet-name>
    <servlet-class>com.spotwarn.user.u_Login1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>u_Login1</servlet-name>
    <url-pattern>/u_Login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>p_addblackspot</display-name>
    <servlet-name>p_addblackspot</servlet-name>
    <servlet-class>com.spotwarn.police_station.p_addblackspot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>p_addblackspot</servlet-name>
    <url-pattern>/p_addblackspot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>s_Login</display-name>
    <servlet-name>s_Login</servlet-name>
    <servlet-class>com.spotwarn.admin.s_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s_Login</servlet-name>
    <url-pattern>/s_Login</url-pattern>
  </servlet-mapping>
</web-app>